<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>esd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DataDAT.icns</string>
			<key>CFBundleTypeName</key>
			<string>electropherogram sample data</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dat</string>
				<string>txt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DataDAT.icns</string>
			<key>CFBundleTypeName</key>
			<string>Tab delimited data file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>abi</string>
				<string>ab1</string>
				<string>fsa</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DataABI.icns</string>
			<key>CFBundleTypeName</key>
			<string>ABI sequencer file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lane</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DataLANES.icns</string>
			<key>CFBundleTypeName</key>
			<string>Lanes Data</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DataSCF.icns</string>
			<key>CFBundleTypeName</key>
			<string>SCF</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>shape</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>shape</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>BaseFinder</string>
	<key>CFBundleGetInfoString</key>
	<string>BaseFinder version 6.2.10</string>
	<key>CFBundleHelpBookFolder</key>
	<string>BaseFinder Help</string>
	<key>CFBundleHelpBookName</key>
	<string>BaseFinder Help</string>
	<key>CFBundleIconFile</key>
	<string>bficon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.GiddingsLab.BaseFinder</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.2.10</string>
	<key>CFBundleName</key>
	<string>BaseFinder</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>6.2.10</string>
	<key>CFBundleVersion</key>
	<string>6.2.10</string>
	<key>NSExtensions</key>
	<dict>
		<key>ABD</key>
		<dict>
			<key>NSIcon</key>
			<string>DataABI.tiff</string>
		</dict>
		<key>ABI</key>
		<dict>
			<key>NSIcon</key>
			<string>DataABI.tiff</string>
		</dict>
		<key>abd</key>
		<dict>
			<key>NSIcon</key>
			<string>DataABI.tiff</string>
		</dict>
		<key>abi</key>
		<dict>
			<key>NSIcon</key>
			<string>DataABI.tiff</string>
		</dict>
		<key>bfd</key>
		<dict>
			<key>NSIcon</key>
			<string>DataBFD.tiff</string>
		</dict>
		<key>cap</key>
		<dict>
			<key>NSIcon</key>
			<string>lloyd-cap.tiff</string>
		</dict>
		<key>ccd</key>
		<dict>
			<key>NSIcon</key>
			<string>DataCCD.tiff</string>
		</dict>
		<key>dat</key>
		<dict>
			<key>NSIcon</key>
			<string>DataDAT.tiff</string>
		</dict>
		<key>fsa</key>
		<dict>
			<key>NSIcon</key>
			<string>DataABI.tiff</string>
		</dict>
		<key>lane</key>
		<dict>
			<key>NSIcon</key>
			<string>DataLANES.tiff</string>
		</dict>
		<key>lanes</key>
		<dict>
			<key>NSIcon</key>
			<string>DataLANES.tiff</string>
		</dict>
		<key>lanes~</key>
		<dict>
			<key>NSIcon</key>
			<string>DataLANES.tiff</string>
		</dict>
		<key>lane~</key>
		<dict>
			<key>NSIcon</key>
			<string>DataLANES.tiff</string>
		</dict>
		<key>scf</key>
		<dict>
			<key>NSIcon</key>
			<string>DataSCF.tiff</string>
		</dict>
		<key>shape</key>
		<dict>
			<key>NSIcon</key>
			<string>DataLANES.tiff</string>
		</dict>
		<key>txt</key>
		<dict>
			<key>NSIcon</key>
			<string>DataDAT.tiff</string>
		</dict>
	</dict>
	<key>NSMainNibFile</key>
	<string>BaseFinder</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
